<h1>Current Todos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Due in</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.name %></td>
        <td><%= pluralize((todo.due.mjd - Date.today.mjd), "day") %></td>
        <td>
            <div class="btn-group pull-right">
                <%= link_to 'View', todo, :class => "btn btn-default" %>
                <%= link_to "Edit", edit_todo_path(todo), :class => "btn btn-default" %>
                <%= link_to "Delete", todo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Todo', new_todo_path, :class => "btn btn-primary" %>
